header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: #0067A3;
    color: white;

    .wrapper {
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
}